# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
NUL

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#little panda IDE config files
*.bookmarks
*.debug
*.layout
makefile.win

## Tools
Release/*
fd.exe
parser.py

#FPS
HUSTOJ-FPS/
Exams/

NUL
